<!-- TOP BAR -->
<div>

  <nav>
  <div class="navbar navbar_title" style="border: 0;">
    <a id="menu_toggle"><i style="color:#3CAF0F;" class="fa fa-bars"></i></a><span class="topbar-title"><b>REMAR</b><small style="font-weight: normal;color: black; font-size:75%;">_CIDADÃO</small></span>
  </div>
  <div class="logos">
    <img class="topbar_logo topbar_logos" src="/static/images/logos.png" />
    <img class="topbar_logo" src="/static/images/logo_ufsb.png" />
    <img class="topbar_logo" id="logo_napier" src="/static/images/logo_napier.png" />
  </div>

  <div class="clearfix"></div>
  </nav>

  <div class="separator-horizontal"></div>

</div>        

<!-- END TOP BAR -->