{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-edit"></i> Total App Entries</span>
        <div class="count">{{ docCount }}</div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Total Short Version</span>
        <div class="count green2">{{ shortCount }}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Total Long Version</span>
        <div class="count green1">{{ longCount }}</div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
          <div class="count">{{ userCount }}</div>
        </div>

    </div>
    <!-- /top tiles -->

    <div class="row">
      
          
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                <div class="col-md-12">
                  <h2>Ucides Overview Graph</h2>
                  <div id="reportrange_left" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">Date Selection: 
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <b class="caret"></b>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            <div class="x_content">
              <canvas id="ucChart"></canvas>
            </div>
          </div>
        </div>

          <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                    <div class="col-md-12">
                      <h2>Cardisoma Overview Graph</h2>
                      <div id="reportrange_right" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">Date Selection: 
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <b class="caret"></b>
                      </div>
                    </div>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <canvas id="carChart"></canvas>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="col-md-12">
                      <h2>Both Species Overview Graph</h2>
                      <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">Date Selection: 
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <b class="caret"></b>
                      </div>
                    </div>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <canvas id="bothChart"></canvas>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <div class="col-md-12">
                    <h2>Profession <small>Both Species</small></h2>
                    <div id="piepicker" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">Date Selection: 
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <b class="caret"></b>
                  </div>
                </div>
                  <div class="clearfix"></div>
                </div>
                <br>
                <div class="x_content">
                  

                  <canvas id="professionpieChart"></canvas>
                  <div id="nodata" hidden><h3>No Data to Show.</h3>
                  <h4>Please choose another date-range.</h4></div>
                </div>
              </div>
            </div>
        
      </div>
    </div>

    <br />
    
    
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}} 
  <script>var records = {{ record|tojson|safe }}</script>
  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- Skycons -->
  <script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
  <script src="{{ url_for('static', filename='graphs.js') }}"></script>
{% endblock javascripts %}
